@using (Html.Bootstrap().Container().Begin())
{
    @Html.Bootstrap().Heading1("Inline")
    using (Html.Bootstrap().Div().SetId("test-inline").Begin())
    {
        <p>Badge @Html.Bootstrap().Badge("4")</p>
    }
    
    <hr />

    @Html.Bootstrap().Heading1("Link")
    using (Html.Bootstrap().Div().SetId("test-link").Begin())
    {
        <p>@Html.Bootstrap().Link("Link").WithChild().Badge("789")</p>
    }

    <hr />
    
    @Html.Bootstrap().Heading1("Button")
    using (Html.Bootstrap().Div().SetId("test-button").Begin())
    {
        @Html.Bootstrap().Button("Button").WithChild().Badge("4")
        @Html.Bootstrap().Button("Button").SetState(ButtonState.Primary).WithChild().Badge("456")
    }

    <hr />

    @Html.Bootstrap().Heading1("Pills")
    using (Html.Bootstrap().Div().SetId("test-pills").Begin())
    {
        using(var pills = Html.Bootstrap().Pills().Begin())
        {
            @pills.Pill("A").WithChild().Badge("3")
            @pills.Pill("B").SetActive().WithChild().Badge("5")
        }
    }

}