@using(Html.Bootstrap().Container())
{
    @Html.Bootstrap().Heading1("Heading Levels")
    <div id="test-heading-levels">
        @Html.Bootstrap().Heading1("Heading 1")
        @Html.Bootstrap().Heading2("Heading 2")
        @Html.Bootstrap().Heading3("Heading 3")
        @Html.Bootstrap().Heading4("Heading 4")
        @Html.Bootstrap().Heading5("Heading 5")
        @Html.Bootstrap().Heading6("Heading 6")
    </div>
}