@using FluentBootstrap;

@{
    ViewBag.Title = "Index";
}

@using(Html.Bootstrap().Container())
{
    using (Html.Bootstrap().GridRow().CssClass("doc-row"))
    {
        using (Html.Bootstrap().All().GridColumn().Md(4))
        { 
            <p>A</p>
        }
        @Html.Bootstrap().All().GridColumn(8).Content("<p>B</p>") 
    }
    
    <hr />

    using (var row = Html.Bootstrap().GridRow().CssClass("doc-row"))
    {
        @row.GridColumn(8).Html(@<p>C</p>)
        using (row.GridColumn().Md(4))
        {
            <p>D</p>
        }
    }
    
    <hr />
    
    @(Html.Bootstrap().GridRow().CssClass("doc-row")
        .Child(c => c.GridColumn(6).Content("E"))
        .Child(c => c.GridColumn(6).Content("F"))
    )
}
    
<hr />

@(Html.Bootstrap().Container().Fluid()
    .Child(x => x.GridRow().CssClass("doc-row")
        .Child(c2 => c2.GridColumn(6).Content("G"))
        .Child(c2 => c2.GridColumn(6).Html(@<p>H</p>))
    )
)

<hr />

@using(Html.Bootstrap().Container())
{
    using(var table = Html.Bootstrap().Table().Responsive())
    {
        @table.TableHeading("A")
        @table.TableHeading("B").Warning()
        @table.TableData("1")
        @table.TableData("2")
        using (var row = table.TableRow().Danger())
        {
            @row.TableData("3")
            @Html.Bootstrap().All().TableHeading("4")
        }
    }
    
    <hr />
    
    <div>@Html.Bootstrap().LinkButton("Google", "http://google.com", ButtonStyle.Success).BtnBlock()</div>
    <div>@Html.Bootstrap().Link("Home", "Index", "Home")</div>
    
    <hr />

    @(Html.Bootstrap().Table().Bordered()
      .Child(x => x.TableHeading().Content("test"))
    )  
    
    <hr />
    
    using (var form = Html.Bootstrap().Form().Horizontal(6))
    {
        @form.Input("A", inputType: FormInputType.Password)
        @form.Input("B").ControlLabel("Label B", l => l.Md(4)).Placeholder("Input something...").Md(8)
        using (form.FormGroup().CssClass("dave"))
        {
            @form.Input("C").Md(10).ControlLabel("Label C", l => l.Md(2))
        }
        @Html.Bootstrap().All().Input("Search", "Search Label")
        @form.TextArea("D", "D", "testing", rows: 3)
        @form.Radio("Radio", "Radio 1", "R1")
        @form.Radio("Radio", "Radio 2", "R2")
        @form.Radio("Radio", "Radio 3", "R3")
        using (var group = form.FormGroup())
        {
            @group.Radio("Rd", "Rd 1", "rd1").Inline()
            @group.Radio("Rd", null, "rd2").Inline()
        }
        using (var group = form.FormGroup())
        {
            @group.Radio("Rd-b", "Rdb 1", "rdb1")
            @group.Radio("Rd-b", "Rdb 2", "rdb2")
        }
        @form.Select("S1", null, 1, 2, 3).InputLg()
        @form.Select("S2", "S2", 5, 6, 7).Multiple()
        @Html.Bootstrap().All().Static("Static", 1234)
        using (var group = form.FormGroup())
        {
            <span>
                @group.Submit()
                @group.Reset("FOOBAR", ButtonStyle.Danger)
            </span>
        }
    }
    
    <hr />
    
    @(Html.Bootstrap().Form().Horizontal()
        .Child(c => c.Input("Child 1", "Child 1").HasSuccess().InputSm().Help("Testing the help text."))
        .Child(c => c.Input("Child 2"))
        .Child(fs => fs.FieldSet()
            .Child(c => c.FormGroup()
                .Child(x => x.Label("My Label"))
                .Child(x => x.Input("Password", inputType: FormInputType.Password))
                .Child(x => x.TextArea("Text", "Text<>", "Testing<>").Disabled().InputLg())
            )
            .Child(c => c.CheckBox("Checkbox", "Check Label", "Check Description", true).HasWarning().HasError())
            .Child(c => c.CheckBox("Checkbox", "Check Label", "Check Description", true).Help("Some help text."))
        )
    )
}

@{
    var model = new { A = "a", B = true, C = 123 };
    using (Html.Bootstrap().Container())
    {
        using (var form = Html.Bootstrap(model).Form().Horizontal())
        { 
            @form.DisplayFor(x => x.A)
            @form.EditorFor(x => x.C)
        }
    }    
}

@using (var form = Html.Bootstrap().Form().Horizontal())
{		
    using(form.FormContent("Group").Static())
	{
        <span>abcd</span>
	}
    @form.Submit()
}