@using FluentBootstrap;

@{
    ViewBag.Title = "Index";
}

@using(Html.Bootstrap().Container().ToDisposable())
{
    using (Html.Bootstrap().GridRow().CssClass("doc-row").ToDisposable())
    {
        using (Html.Bootstrap().GridColumn().Md(4).ToDisposable())
        { 
            <p>A</p>
        }
        @Html.Bootstrap().GridColumn(8).Content("<p>B</p>") 
    }

    using (var row = Html.Bootstrap().GridRow().CssClass("doc-row").ToDisposable())
    {
        @row.Column(8).Html(@<p>C</p>)
        using (row.Column().Md(4).ToDisposable())
        {
            <p>D</p>
        }
    }
    
    @(Html.Bootstrap().GridRow().CssClass("doc-row")
        .Child(c => c.Column(6).Content("E"))
        .Child(c => c.Column(6).Content("F"))
    )
}


@(Html.Bootstrap().Container().Fluid()
    .Child(Html.Bootstrap().GridRow().CssClass("doc-row")
        .Child(c2 => c2.Column(6).Content("G"))
        .Child(c2 => c2.Column(6).Html(@<p>H</p>))
    )
)

@using(var table = Html.Bootstrap().Table().Responsive().Striped().Bordered().ToDisposable())
{
    @table.Heading("A")
    @table.Heading("B")
    @table.Data("1")
    @table.Data("2")
    using (var row = table.Row().ToDisposable())
    {
        @row.Data("3")
        @Html.Bootstrap().TableHeading("4")
    }
}

@(Html.Bootstrap().Table().Bordered()
  .Child(Html.Bootstrap().TableHeading().Content("test"))
)  
